* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-image: url('https://www.t-nation.com/system/publishing/articles/10005529/original/6-Reasons-You-Should-Never-Open-a-Gym.png?1509471214');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.logo {
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

ul {
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.quizStart {
    color: white;
    text-align: center;
}



